.search-input {
    display: block;
    margin-bottom: 8px;
}

.customizer-search-section {
	padding: 10px;
}

.customizer-search-input {
	width: 75%
}

.customizer-search-section {
	padding: 10px;
}

.customize-pane-parent {
	overflow: inherit;
}